@media all and (max-width: 1170px) {
  .wrap {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .wrap2 {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .section1, .section2, .section3 {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .check_my_story {
    font-size: 60px;
    top: 265px;
    right: 18%;
    line-height: 73px;
  }

  header > section > div > span {
    height: 573px;
    left: 335px;
    top: 40px;
  }

  #play {
    width: 220px;
    height: 220px;
  }

  .s2_b2 {
    max-width: 560px;
  }

  .s2_b2 > img {
    max-width: 560px;
  }

  .s2_b1 {
    padding-top: 200px;
  }

  .s2_b1 > img {
    width: 350px;
  }

  .section2 span {
    height: 550px;
    left: 492px;
    top: 2000px;
  }

  .s3_block > img {
    height: 596px;
  }

  .s3_block div a img {
    padding-right: 3px;
  }

  .ul_footer img:last-of-type {
    top: 161px;
    width: 240px;
  }

  .ul_header li {
    font-size: 50px;
    line-height: 100px;
  }
}
@media all and (max-width: 980px) {
  .wrap {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrap2 {
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .section1, .section2, .section3 {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .check_my_story {
    font-size: 55px;
    right: 16%;
    line-height: 70px;
  }

  #play {
    width: 200px;
    height: 200px;
  }

  .video {
    width: 76%;
  }

  .s2_b2 {
    max-width: 455px;
  }
  .s2_b2 img {
    max-width: 455px;
  }

  .s2_b1 > img {
    width: 305px;
  }

  .section2 span {
    height: 512px;
    left: 439px;
    top: 1858px;
  }

  .s3_block > img {
    height: 515px;
  }

  .talk_to_me {
    font-size: 65px;
    width: 51%;
  }

  .ul_footer img:last-of-type {
    top: 500px;
    width: 156px;
  }

  .ul_footer {
    font-size: 50px;
  }

  h3 {
    font-size: 38px;
  }

  .s2_b2 h3 {
    font-size: 34px;
  }

  .ul_header {
    margin-top: 117px;
    margin-right: 75px;
  }
  .ul_header li {
    font-size: 45px;
    line-height: 84px;
  }
}
@media all and (max-width: 768px) {
  .wrap {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .wrap2 {
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section1, .section2, .section3 {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  h1 {
    font-size: 125px;
  }

  header > section > div > span {
    height: 500px;
    left: 247px;
    top: 78px;
  }

  .check_my_story {
    font-size: 48px;
    line-height: 63px;
    top: 330px;
  }

  .bloc_txt, .video {
    width: 78%;
  }

  #play {
    width: 175px;
    height: 175px;
  }

  h3 {
    font-size: 31px;
  }

  .s2_b1 {
    padding-top: 130px;
  }

  .s2_b1 > img {
    width: 256px;
  }

  .s2_b1 h3 {
    padding-top: 28px;
    font-size: 22px;
  }

  .s2_b2 {
    max-width: 360px;
  }
  .s2_b2 img {
    max-width: 360px;
  }

  .s2_b2 h3 {
    font-size: 28px;
  }

  .section2 span {
    height: 352px;
    left: 347px;
    top: 1624px;
  }

  .s3_block > img {
    height: 393px;
  }

  .container_s3 div h3 {
    font-size: 29px;
  }

  .container_s3 > p:first-of-type {
    font-size: 75px;
    top: 70px;
  }

  .menu_js > span {
    left: -680px;
  }

  .ul_header {
    margin-top: 206px;
    margin-right: 60px;
  }

  .ul_header li {
    font-size: 35px;
    line-height: 71px;
  }

  .talk_to_me {
    font-size: 59px;
    width: 62%;
    padding-top: 100px;
  }

  .section3 {
    padding-bottom: 200px;
  }

  .ul_footer img:last-of-type {
    display: none;
  }

  footer {
    padding-top: 150px;
    padding-bottom: 120px;
  }
}
@media all and (max-width: 480px) {
  .wrap {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .wrap2 {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  #spannn {
    left: -1012px;
  }

  .ul_header {
    line-height: 47px;
    margin-top: 85%;
    margin-right: 25px;
  }

  h1 {
    font-size: 104px;
    margin: auto;
    top: 15px;
  }

  .check_my_story {
    display: none;
  }

  header > section > div > span {
    height: 348px;
    left: 222px;
    top: 84px;
    border: 1px solid #FF5D00;
  }

  #shop_now {
    display: none;
  }

  #logo_k {
    letter-spacing: 3.38px;
    margin-right: 140px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
  }

  .section1, .section2, .section3 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .video {
    width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
  }

  video {
    height: 45vh;
  }

  h2 {
    padding-bottom: 80px;
  }

  #play {
    width: 145px;
    height: 145px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%) translateX(0%);
    top: 100%;
  }

  .bloc_txt {
    margin-top: 483px;
    width: 100%;
  }
  .bloc_txt h3 {
    font-size: 26px;
    letter-spacing: 2.2px;
    text-align: left;
  }
  .bloc_txt div {
    display: block;
  }
  .bloc_txt div a {
    display: flex;
  }
  .bloc_txt div a img {
    margin-left: auto;
    padding-top: 15px;
  }
  .bloc_txt p.h3_p {
    margin-top: -36px;
    margin-bottom: 5px;
  }

  .section2 span {
    display: none;
  }

  .s2_b1 {
    padding-top: 25px;
    text-align: left;
  }
  .s2_b1 img {
    width: 68%;
  }
  .s2_b1 h3 {
    padding-top: 20px;
  }

  .s2_b2 {
    padding-top: 25px;
    max-width: 420px;
  }
  .s2_b2 p.h3_p {
    margin-top: -35px;
  }
  .s2_b2 div {
    display: block;
    padding-top: 0;
  }
  .s2_b2 h3 {
    font-size: 28px;
    letter-spacing: 3px;
    padding-top: 15px;
  }

  .s2_b2 div a {
    display: flex;
  }

  .s2_b2 div a img {
    margin-left: auto;
    padding-top: 12px;
  }

  .s2_b2 > img {
    max-width: 420px;
  }

  .container_s2 {
    display: block;
  }

  .container_s3 > p:first-of-type {
    text-align: left;
    font-size: 30px;
    text-decoration: none;
    top: 6px;
  }
  .container_s3 > p:first-of-type span {
    color: white;
  }

  .talk_to_me {
    font-size: 37px;
    line-height: 59px;
    width: 79%;
    padding-top: 80px;
  }

  .main-carousel {
    margin-top: 35px;
    width: 340px;
  }

  #prevBtn, #nextBtn {
    top: 0px;
  }

  .s3_block p.h3_p {
    margin-top: -35px;
  }

  .s3_block div {
    display: block;
  }
  .s3_block div a {
    display: flex;
  }
  .s3_block div a img {
    margin-left: auto;
    padding-top: 12px;
  }

  .s3_block > img {
    height: 494px;
  }

  .container_s3 div h3 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  li {
    font-size: 30px;
  }

  footer {
    padding-top: 153px;
    padding-bottom: 45px;
  }

  .ul_footer {
    line-height: 65px;
    padding-bottom: 80px;
  }

  .ul_footer img:last-of-type {
    display: none;
  }

  .ul_footer img:first-of-type {
    left: 21px;
    width: 150px;
    top: -58px;
  }

  .ul_header li {
    font-size: 29px;
    line-height: 50px;
  }

  .top_menu div {
    display: flex;
  }
}
@media all and (max-width: 320px) {
  #spannn {
    left: -1012px;
  }

  .ul_header {
    line-height: 47px;
    margin-top: 110%;
    margin-right: 25px;
  }

  .wrap {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .wrap2 {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  h1 {
    font-size: 80px;
    margin: auto;
    top: 75px;
  }

  .check_my_story {
    display: none;
  }

  header > section > div > span {
    height: 350px;
    left: 150px;
    top: 100px;
    border: 1px solid #FF5D00;
  }

  #shop_now {
    display: none;
  }

  #logo_k {
    letter-spacing: 3.38px;
    margin-right: 80px;
  }

  .top_menu > div > a > img {
    margin-right: 10px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
  }

  .section1, .section2, .section3 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .video {
    width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
  }

  video {
    height: 45vh;
  }

  h2 {
    font-size: 10px;
    letter-spacing: 13.5px;
    padding-bottom: 50px;
  }

  #play {
    width: 113px;
    height: 113px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%) translateX(0%);
    top: 100%;
  }
  #play p {
    font-size: 11px;
    letter-spacing: 2.2px;
  }

  .bloc_txt {
    margin-top: 375px;
    width: 100%;
  }
  .bloc_txt h3 {
    font-size: 26px;
    letter-spacing: 2.2px;
    text-align: left;
  }
  .bloc_txt div {
    display: block;
  }
  .bloc_txt div a {
    display: flex;
  }
  .bloc_txt div a img {
    margin-left: auto;
    padding-top: 15px;
  }
  .bloc_txt p.h3_p {
    margin-top: -36px;
    margin-bottom: 5px;
  }

  .section2 span {
    display: none;
  }

  .s2_b1 {
    padding-top: 25px;
    text-align: left;
  }
  .s2_b1 img {
    width: 50%;
  }
  .s2_b1 h3 {
    font-size: 20px;
    padding-top: 10px;
  }

  .s2_b2 {
    padding-top: 25px;
  }
  .s2_b2 p.h3_p {
    margin-top: -35px;
  }
  .s2_b2 div {
    display: block;
    padding-top: 0;
  }
  .s2_b2 h3 {
    font-size: 28px;
    letter-spacing: 3px;
    padding-top: 15px;
  }

  .s2_b2 div a {
    display: flex;
  }

  .s2_b2 div a img {
    margin-left: auto;
    padding-top: 12px;
  }

  .s2_b2 > img {
    width: 100%;
  }

  .container_s2 {
    display: block;
  }

  .container_s3 > p:first-of-type {
    text-align: left;
    font-size: 30px;
    text-decoration: none;
    top: 6px;
  }
  .container_s3 > p:first-of-type span {
    color: white;
  }

  .talk_to_me {
    font-size: 30px;
    letter-spacing: 0.3px;
    line-height: 40px;
    width: 75%;
  }

  .main-carousel {
    margin-top: 35px;
    width: 340px;
  }

  #prevBtn, #nextBtn {
    top: 0px;
  }

  .s3_block p.h3_p {
    margin-top: -35px;
  }

  .s3_block div {
    display: block;
  }
  .s3_block div a {
    display: flex;
  }
  .s3_block div a img {
    margin-left: auto;
    padding-top: 12px;
    padding-right: 60px;
  }

  .s3_block > img {
    height: 400px;
  }

  .container_s3 div h3 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  li {
    font-size: 30px;
  }

  .talk_to_me {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  footer {
    padding-top: 153px;
    padding-bottom: 45px;
  }

  .ul_footer {
    line-height: 39px;
    padding-bottom: 80px;
  }

  .ul_footer li {
    font-size: 20px;
  }

  .ul_footer img:last-of-type {
    display: none;
  }

  .ul_footer img:first-of-type {
    left: 21px;
    width: 136px;
    top: -58px;
  }

  .ul_header {
    margin-right: 25px;
  }

  .ul_header li {
    font-size: 29px;
    line-height: 50px;
  }
}

/*# sourceMappingURL=index_res.css.map */
